* {
    margin: 0;
    padding: 0;
}

[type="button"] {
    border: none;
    outline: none;
}

body, html {
    background: linear-gradient(to bottom right, #CFEAFB, #6FADFA);
    font-family: Calibri, serif;
    color: #7B7B7B;
    padding: 30px;
}

.main-form {
    background-color: #E1E1E1;
    border: 2px solid #9BACB6;
    border-radius: 5px;
    margin: 2px;
    padding: 0;

}

.main-menu {
    background-color: #FED82D;
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 0;
}

/*
li {
    background-color: #FED82D;
    width: 10%;
    display: inline-block;
}

*/

.main-menu li:first-child {
    border: none;
}

.main-menu ul {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.main-menu ul li {
    float: left;
    border-left: 1px solid #bbb;
    list-style-type: none;
    width: 14%;
    margin-top: 15px;
}

.main-menu ul li a:hover {
    color: grey;
    text-decoration: underline;
}

/*
.main-menu ul li a:visited {
    color: #AC2200;
    text-decoration: underline;
}
*/

.main-menu ul li a {
    color: grey;
    text-decoration: none;
}

/*
input[type="button"] {
    border: 2px solid #647D43;
    background: linear-gradient(to top, #7DA32A, #BEDC86);
    width: 175px;
    height: 45px;
    color: white;
    font-size: 16px;
    margin: 40px;
}


.header {
    background-color: #FED82D;
    width: auto;
    height: 55px;
}

td {

}

tr {

}
*/
.first-table {
    width: 98%;
    border-collapse: collapse;
    margin-left: 10px;
    padding: 10px;
}

.first-table td {
    /*border: 1px dotted #DEF4FB;
    */
    padding: 10px;
    border: none;
}

td.et-balance-column {
    font-weight: bold;
    text-align: center;
    width: 75px;
}

td.letter-column {
    text-align: center;
    width: 15px;
}

.first-table tr:nth-child(1) {
    border-bottom: 1px solid grey;
}

/*
.first-table tr {

}

#second {

}


th {
    background-color: #FED82D;
    height: 30px;
}
*/

.second-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #E1E1E1;
    border: none;
    /*
    height: auto;
    margin-left: 10px;
    padding: 0;
    */
    margin-bottom: 20px;
}

.second-table tr:nth-child(1) {
    background-color: #FED82D;
    height: 30px;
    text-align: left;
    font-weight: bold;
}

.second-table tr:nth-child(2) {
    background-color: #B0CFF5;
}

.second-table tr:nth-child(3) {
    background-color: #B0CFF5;
}

.second-table td {
    border: 1px dotted #DEF4FB;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
}

.second-table tr {
    border: 1px dotted #DEF4FB;
    padding: 15px;
}

.date-order-column {
    width: 13%;
}

.number-order-column {
    width: 12%;
}

.status-column {
    width: 12%;
}

.system-reservation-column {
    width: 15%;
}

.count-order {

}

.order-title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 25px;
    font-weight: bold;
    font-family: Calibri, serif;
    color: #7B7B7B;
}

.archive-button {
    margin-top: 30px;
    margin-bottom: 55px;
    margin-left: 25px;
    border: 2px solid #647D43;
    background: linear-gradient(to top, #7DA32A, #BEDC86);
    width: 175px;
    height: 45px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.cancel-button {
    margin-left: 25px;
    border: 2px solid #647D43;
    background: linear-gradient(to top, #7DA32A, #BEDC86);
    width: 175px;
    height: 45px;
    color: white;
    font-size: 16px;
    text-align: center;
    position: absolute;
    margin-top: 30px;
    right: 290px;
}

.send-button {
    margin-left: 25px;
    border: 2px solid #B0B0B0;
    background: linear-gradient(to top, #C7C7C7, #FEFEFE);
    width: 175px;
    height: 45px;
    color: #909090;
    font-size: 16px;
    text-align: center;
    position: absolute;
    right: 100px;
    margin-top: 30px;

}

.et-field {
    width: 30px;
}

.small-font {
    word-wrap: normal;
    font-size: 75%;
}



